$soft_blue: hsl(231, 69%, 60%);
$soft_red: hsl(0, 94%, 66%);
$grayish_blue: hsl(229, 8%, 60%);
$very_dark_blue: hsl(229, 31%, 21%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-weight: 500;
    color: $very_dark_blue;
}

@keyframes showing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    header {
        margin-bottom: 60px;
        padding: 30px 70px;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                margin-right: 16px;
                width: 15%;
                max-width: 180px;
                min-width: 150px;
            }

            #hamburgerIcon,
            #closeIcon,
            .sns {
                display: none;
            }

            .block {
                ul {

                    li a,
                    button {
                        margin: 0 16px;
                        font-size: 0.9rem;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }

                    li {
                        display: inline-block;

                        a {
                            color: $very_dark_blue;
                            text-decoration: none;
                        }
                    }

                    button {
                        margin-right: 0;
                        padding: 8px 24px;
                        border-radius: 6px;
                        border: 2px solid transparent;
                        background-color: $soft_red;
                        color: white;
                        box-shadow: 0 2px 4px 0px #ccc;
                    }
                }
            }
        }
    }

    main {
        section {
            margin-bottom: 60px;
            padding: 30px;

            hgroup {
                margin-bottom: 30px;
                width: 50%;
                text-align: center;

                h2 {
                    font-size: 1.5rem;
                }
            }

            p {
                margin: 20px 0;
                color: $grayish_blue;
                line-height: 1.4;
            }

            button {
                margin-top: 10px;
                border-radius: 6px;
                font-size: 0.85rem;
                font-weight: 300;
            }

            .moreInfo {
                padding: 12px 20px;
                border: none;
                background-color: $soft_blue;
                color: white;
                box-shadow: 0 2px 4px 0px #ccc;
            }

            .chrome,
            .firefox,
            .downloadBtn {
                width: 160px;
                border: 2px solid transparent;
                background-color: $soft_blue;
                color: white;
            }

            .chrome,
            .firefox {
                margin-top: 10px;
                padding: 12px 0;
                height: 44px;
                font-size: 0.85rem;
                font-weight: 300;
                border-radius: 6px;
                text-decoration: none;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
            }

            .downloadBtn{
                padding: 2px 0;
                height: 48px;
            }
        }

        #hero {
            padding-right: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .heroPic {
                flex-basis: 50%;
                order: 1;
                min-width: 380px;
                position: relative;

                img {
                    padding-right: 30px;
                    width: 100%;
                }

                div {
                    width: 72%;
                    aspect-ratio: 7/5;
                    border-radius: 130px 0 0 130px;
                    background-color: $soft_blue;
                    position: absolute;
                    bottom: -1%;
                    right: 0;
                    z-index: -1;
                }
            }

            .text {
                flex-basis: 50%;
                padding: 40px;

                h1 {
                    font-size: 2rem;
                }

                .chrome {
                    margin-right: 10px;
                }

                .firefox {
                    color: $very_dark_blue;
                    background-color: #eee;
                    box-shadow: 0 2px 2px 0px #ddd;
                }
            }
        }

        #feature {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 30px 0;

            .panel {
                margin-bottom: 40px;
                width: 65%;
                text-align: center;

                ul {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid #ddd;

                    li {
                        flex-basis: 30%;
                        list-style: none;
                        padding: 20px 0;
                        font-size: 0.9rem;
                        color: #555;
                    }

                    li.current {
                        border-bottom: 4px solid $soft_red;
                        color: black;
                    }
                }
            }

            article {
                padding: 30px 0;
                width: 100%;
                display: none;

                .pic {
                    width: 48%;
                    display: inline-block;
                    text-align: right;
                    vertical-align: middle;
                    position: relative;

                    img {
                        width: 75%;
                        min-width: 300px;
                    }

                    div {
                        width: 80%;
                        aspect-ratio: 3/2;
                        border-radius: 0 130px 130px 0;
                        background-color: $soft_blue;
                        position: absolute;
                        bottom: -5%;
                        left: 0;
                        z-index: -1;
                    }
                }

                .content {
                    padding: 30px 70px;
                    width: 48%;
                    display: inline-block;
                    text-align: left;
                    vertical-align: middle;

                    h3 {
                        font-size: 1.5rem;
                    }
                }
            }

            article.visible {
                display: block;
                animation: showing 1.2s forwards;
            }

            article:first-of-type {
                .pic {
                    div {
                        width: 95%;
                        aspect-ratio: 5/2;
                        bottom: -10%;
                    }
                }
            }
        }

        #pricing {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .container {
                width: 70%;
                display: flex;
                justify-content: center;

                .option {
                    flex: 1 0 240px;
                    min-height: 480px;
                    padding: 20px 16px;

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: flex-start;
                    position: relative;

                    hgroup {
                        margin: 0;
                        padding: 0;
                        width: 100%;

                        h3 {
                            font-size: 1.3rem;
                            letter-spacing: 2px;
                        }

                        p {
                            margin: 20px auto;
                            padding: 6px 0;
                            width: 65%;
                            min-width: 200px;
                            border-radius: 10px;
                            background-color: ghostwhite;
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: $soft_red;
                            letter-spacing: 1px;

                            span {
                                font-size: 0.7rem;
                            }
                        }
                    }

                    ul {
                        padding: 10px 20px;

                        li {
                            padding: 10px;
                            list-style: none;
                            border-bottom: 1px solid gainsboro;
                            font-size: 0.85rem;
                            color: $very_dark_blue;
                            text-align: left;
                        }

                        li:last-child {
                            border-bottom: none;
                        }
                    }

                    .learnMore {
                        padding: 10px 16px;
                        border: none;
                        background-color: $soft_blue;
                        color: white;
                        letter-spacing: 1px;
                        box-shadow: 0 1px 4px 0 grey;

                        position: absolute;
                        left: 50%;
                        bottom: 20px;
                        transform: translateX(-50%);
                    }
                }

                .free {
                    border-radius: 10px 0 0 10px;
                    background-color: hsla(231, 69%, 60%, 0.1);
                }

                .standard {
                    background-color: hsla(231, 69%, 60%, 0.4);
                    box-shadow: 0px 1px 8px 2px hsl(229, 47%, 49%);

                    hgroup {
                        h3 {
                            font-size: 1.6rem;
                        }

                        p,
                        p span {
                            color: red;
                        }
                    }

                }

                .premium {
                    border-radius: 0 10px 10px 0;
                    background-color: hsla(231, 69%, 60%, 0.7);
                }
            }
        }

        #download {
            margin-bottom: 120px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .extensions {
                display: flex;
                justify-content: center;

                .card {
                    flex-basis: 20%;
                    min-width: 200px;
                    margin: 0 16px;
                    padding: 16px 0;
                    border-radius: 10px;
                    background-color: white;
                    box-shadow: 0 4px 16px 2px #ccc;
                    text-align: center;

                    .icon {
                        margin-bottom: 20px;
                        width: 36%;
                    }

                    .opera {
                        width: 33%;
                    }

                    .dots {
                        width: 100%;
                    }

                    h3 {
                        margin: 0 16px;
                        font-size: 1.25rem;
                    }

                    p {
                        margin: 10px 16px;
                        font-size: 0.9rem;
                        font-weight: 200;
                    }

                    button {
                        margin: 20px 16px 0 16px;
                    }
                }

                .card:nth-of-type(2) {
                    position: relative;
                    top: 30px;
                }

                .card:nth-of-type(3) {
                    position: relative;
                    top: 60px;
                }
            }
        }

        #FAQs {
            margin-bottom: 90px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .questions {
                width: 55%;

                article {
                    .first {
                        border-top: 2px solid #ddd;
                    }

                    .title {
                        border-bottom: 2px solid #ddd;
                        padding-right: 16px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        p {
                            margin-right: 16px;
                            color: $very_dark_blue;
                        }

                        .arrow {
                            content: url("images/icon-arrow.svg");
                            width: 18px;
                        }
                    }

                    .answer {
                        display: none;
                        font-size: 0.9rem;
                        font-weight: 300;
                        color: gray;
                        line-height: 1.6;
                    }
                }

                article.unfolded {
                    .title {
                        border-bottom: none;

                        .arrow {
                            transform: rotate(180deg);
                            filter: invert(51%) sepia(31%) saturate(6029%) hue-rotate(328deg) brightness(102%) contrast(97%);
                        }
                    }

                    .answer {
                        display: block;
                        animation: showing 1.5s forwards;
                    }
                }
            }

            div:last-child {
                margin-top: 40px;
                width: 100%;
                text-align: center;

                button {
                    margin-top: 0;
                }
            }
        }

        #contact {
            margin-bottom: 0;
            padding: 40px 30px;
            background-color: $soft_blue;
            text-align: center;

            span {
                font-size: 0.7rem;
                color: white;
                letter-spacing: 3px;
                word-spacing: 4px;
                text-transform: uppercase;
            }

            p {
                margin: 20px 0;
                font-size: 1.5rem;
                font-weight: 500;
                color: white;
            }

            form {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                div {
                    margin-right: 16px;
                    text-align: left;
                    position: relative;

                    img {
                        visibility: hidden;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 16px;
                        top: 14px;
                    }

                    input {
                        padding: 10px 12px;
                        width: 340px;
                        height: 48px;
                        border-radius: 6px;
                        border: none;
                        outline: none;
                        font-size: 0.8rem;
                    }

                    p {
                        display: none;
                        margin: 0;
                        padding: 6px 10px;
                        border-radius: 0 0 6px 6px;
                        border: none;
                        background-color: $soft_red;
                        font-size: 0.7rem;
                        font-weight: 100;
                        color: white;
                        font-style: italic;
                    }
                }

                div.warning {

                    img {
                        visibility: visible;
                    }

                    input {
                        border-radius: 6px 6px 0 0;
                        border: 2px solid $soft_red;
                    }

                    p {
                        display: block;
                    }
                }

                button {
                    margin-top: 0;
                    padding: 0 18px;
                    height: 48px;
                    border: 2px solid transparent;
                    background-color: $soft_red;
                    color: white;
                }
            }
        }
    }

    footer {
        padding: 30px 60px 16px 60px;
        background-color: $very_dark_blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .menu {
            img {
                margin-right: 16px;
                filter: brightness(200%);
                vertical-align: middle;
            }

            ul {
                display: inline-block;

                li {
                    display: inline-block;

                    a {
                        margin: 0 16px;
                        font-size: 0.7rem;
                        font-weight: 100;
                        color: white;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        }

        .sns {
            img {
                margin: 0 10px;
                width: 20px;
            }
        }

        .attribution {
            margin-top: 20px;
            width: 100%;
            font-size: 10px;
            color: $grayish_blue;
            text-align: center;

            a {
                font-size: 10px;
                color: $grayish_blue;
            }
        }
    }
}

@media screen and (hover:hover) {
    body {
        header nav {

            #hamburgerIcon:hover,
            #closeIcon:hover,
            .sns:hover {
                cursor: pointer;
            }

            .block ul {
                li a:hover {
                    cursor: pointer;
                    color: $soft_red;
                }

                button:hover {
                    cursor: pointer;
                    border-color: $soft_red;
                    background-color: transparent;
                    color: $soft_red;
                    box-shadow: none;
                }
            }
        }

        main {
            section {
                button:hover {
                    cursor: pointer;
                }

                .moreInfo:hover {
                    box-shadow: none;
                    transform: scale(1.05);
                }

                .chrome:hover,
                .firefox:hover {
                    border-color: $soft_blue;
                    background-color: transparent;
                    color: $soft_blue;
                }

                .downloadBtn:hover {
                    border-color: $soft_blue;
                    background-color: transparent;
                    color: $soft_blue;
                }
            }

            #hero .text .firefox:hover {
                border-color: $very_dark_blue;
                background-color: transparent;
                box-shadow: none;
            }

            #feature .panel ul li:hover {
                cursor: pointer;
                color: $soft_red;
            }

            #pricing .container .option .learnMore:hover {
                background-color: $very_dark_blue;
            }

            #FAQs .questions article .title {
                p:hover {
                    cursor: pointer;
                    color: $soft_red;
                }

                .arrow:hover {
                    cursor: pointer;
                }
            }

            #contact form button:hover {
                border-color: $soft_red;
                background-color: white;
                color: $soft_red;
            }
        }

        footer {
            .menu {
                img:hover {
                    cursor: pointer;
                }

                ul li a:hover {
                    cursor: pointer;
                    color: $soft_red;
                }
            }

            .sns img:hover {
                cursor: pointer;
                filter: invert(51%) sepia(31%) saturate(6029%) hue-rotate(328deg) brightness(102%) contrast(97%);
            }
        }
    }
}

@media screen and (max-width:860px) {
    body {
        header {
            margin-bottom: 40px;
            padding: 30px 50px;
        }

        main {
            section {
                padding: 20px 30px;

                hgroup {
                    width: 65%;
                }
            }

            #hero {
                .text {
                    padding: 30px 20px;
                }
            }

            #feature {
                padding: 20px 0;

                .panel {
                    width: 70%;
                }

                article {
                    padding: 10px 0;

                    .content {
                        padding: 30px 50px;
                    }
                }
            }

            #pricing {
                .container {
                    width: 90%;

                    .option {
                        flex: 1 0 200px;

                        hgroup {
                            p {
                                width: 100%;
                                min-width: auto;
                            }
                        }

                        ul {
                            padding: 10px 0;
                        }

                        .learnMore {
                            width: 75%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:760px) {
    body {
        header {
            nav {
                #hamburgerIcon {
                    display: block;
                }

                .block {
                    display: none;
                }
            }

            nav.mobile {
                .logo {
                    z-index: 15;
                    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(332deg) brightness(105%) contrast(102%);
                }

                #hamburgerIcon {
                    display: none;
                }

                #closeIcon {
                    display: block;
                    z-index: 15;
                }

                .block {
                    padding: 40px 40px 20px 40px;
                    background-color: $very_dark_blue;
                    opacity: 0.9;

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 10;
                    overflow: auto;

                    ul {
                        margin: 60px 0 30px 0;
                        width: 100%;

                        li {
                            padding: 20px 0;
                            border-bottom: 1px solid #777;
                            text-align: center;
                            display: block;

                            a {
                                font-weight: 100;
                                color: white;
                                letter-spacing: 3px;
                            }
                        }

                        li:first-child {
                            border-top: 1px solid #777;
                        }

                        button {
                            margin: 20px 0 0 0;
                            padding: 12px 0;
                            width: 100%;
                            border-color: white;
                            background-color: transparent;
                            letter-spacing: 4px;
                            box-shadow: none;
                        }
                    }
                }

                .sns {
                    align-self: flex-end;
                    display: block;

                    img {
                        margin: 0 12px;
                        width: 20px;
                    }
                }
            }
        }

        main {
            section {
                hgroup {
                    padding: 0 40px;
                    width: 100%;
                }
            }

            #hero {
                display: block;

                .heroPic {
                    min-width: auto;
                    text-align: center;

                    img {
                        padding-right: 0;
                        width: 90%;
                    }
                }

                .text {
                    margin: 40px 30px 0 0;
                    padding: 30px;
                    text-align: center;
                }
            }

            #feature {
                display: block;

                .panel {
                    margin: -30px auto 0 auto;
                    padding: 40px;
                    width: 95%;

                    ul {
                        display: block;

                        li {
                            border-top: 2px solid #ddd;
                            text-align: center;
                        }
                    }
                }

                article {
                    .pic {
                        margin-bottom: 30px;
                        width: 100%;
                        text-align: center;

                        img {
                            width: 65%;
                            min-width: auto;
                        }

                        div {
                            width: 60%;
                            border-radius: 0 100px 100px 0;
                            bottom: -2%;
                        }
                    }

                    .content {
                        padding: 40px;
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }

                article:first-of-type {
                    .pic {
                        div {
                            width: 75%;
                            aspect-ratio: 2/1;
                        }
                    }
                }
            }

            #pricing {
                display: block;

                .container {
                    display: block;
                    margin: 0 auto;
                    width: 80%;

                    .option {
                        width: 100%;
                        min-height: auto;
                        display: block;
                        text-align: center;

                        hgroup {
                            p {
                                width: 100%;
                                max-width: 300px;
                            }
                        }

                        ul {
                            margin: 0 auto;
                            padding: 10px 20px;
                            width: 100%;
                            max-width: 330px;

                            li {
                                text-align: center;
                            }
                        }

                        .learnMore {
                            width: auto;
                            position: static;
                            transform: none;
                        }
                    }

                    .free {
                        border-radius: 10px 10px 0 0;
                    }

                    .premium {
                        border-radius: 0 0 10px 10px;
                    }
                }
            }

            #download {
                margin-bottom: 90px;
                display: block;

                .extensions {
                    margin: 40px auto 0 auto;
                    padding: 0 40px;
                    width: 85%;
                    display: block;

                    .card {
                        min-width: auto;
                        margin: 24px 0;
                        padding: 30px 0;

                        .icon {
                            margin-bottom: 20px;
                            width: 20%;
                        }

                        .opera {
                            width: 20%;
                        }

                        button {
                            margin: 20px 0 0 0;
                            width: 80%;
                        }
                    }

                    .card:nth-of-type(2),
                    .card:nth-of-type(3) {
                        position: static;
                    }
                }
            }

            #FAQs {
                display: block;

                .questions {
                    padding: 40px;
                    width: 100%;
                }

                div:last-child {
                    margin-top: 10px;
                }
            }

            #contact {
                form {
                    padding: 0 40px;
                    display: block;

                    div {
                        margin: 0 0 20px 0;

                        input {
                            width: 100%;
                        }
                    }

                    button {
                        width: 100%;
                    }
                }
            }
        }

        footer {
            display: block;

            .menu {
                margin-bottom: 30px;
                text-align: center;

                img {
                    margin-right: 0;
                }

                ul {
                    display: block;

                    li {
                        margin: 16px 0;
                        display: block;

                        a {
                            margin: 0;
                            letter-spacing: 2px;
                        }
                    }
                }
            }

            .sns {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:760px) and (hover:hover) {
    body header nav.mobile {
        .block ul {
            li a:hover {
                color: white;
            }

            button:hover {
                border-color: white;
                color: white;
            }
        }

        .sns img:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width:480px) {
    body {
        header {
            padding: 30px;
        }

        main {
            section {
                padding: 30px;

                hgroup {
                    padding: 0 30px;
                }
            }

            #hero {
                .text {
                    padding: 0px;

                    button,
                    .chrome,
                    .firefox {
                        width: 100%;
                    }

                    .chrome {
                        margin-right: 0;
                    }
                }
            }

            #feature {
                article {
                    padding-bottom: 0;

                    .content {
                        padding: 30px 30px 10px 30px;
                    }
                }
            }

            #pricing {
                .container {
                    width: 90%;
                }
            }

            #download {
                margin-bottom: 60px;

                hgroup {
                    padding: 0;
                }

                .extensions {
                    padding: 0 10px;
                    width: 100%;
                    max-width: 320px;
                }
            }

            #FAQs {
                hgroup {
                    padding: 0;
                }

                .questions {
                    padding: 10px;
                }
            }

            #contact {
                form {
                    padding: 0;
                }
            }
        }

        footer {
            padding: 30px 30px 20px 30px;
        }
    }
}